<a href="https://colab.research.google.com/github/Kailash-13011992/Mod-6-Assingment/blob/main/Kailash_Sahu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kailash Sahu
Mod 6 - Assingment

Handle Missing Values

In [ ]:
print(data.isnull().sum())  # Count missing values per column

VIN                                0
TRANSACTION_ID                     0
CORRECTION_VERBATIM                0
CUSTOMER_VERBATIM                  0
REPAIR_DATE                        0
CAUSAL_PART_NM                     5
GLOBAL_LABOR_CODE_DESCRIPTION      0
PLATFORM                           0
BODY_STYLE                         0
VPPC                               0
PLANT                              1
BUILD_COUNTRY                      0
LAST_KNOWN_DLR_NAME                0
LAST_KNOWN_DLR_CITY                0
REPAIRING_DEALER_CODE              0
DEALER_NAME                        0
REPAIR_DLR_CITY                    0
STATE                              2
DEALER_REGION                      0
REPAIR_DLR_POSTAL_CD               2
REPAIR_AGE                         0
KM                                 0
COMPLAINT_CD_CSI                   0
COMPLAINT_CD                       0
VEH_TEST_GRP                       2
COUNTRY_SALE_ISO                   0
ORD_SELLING_SRC_CD                 0
OPTN_FAMLY_CERTIFICATION          10
OPTF_FAMLY_EMISSIOF_SYSTEM         5
GLOBAL_LABOR_CODE                  0
TRANSACTION_CATEGORY               0
CAMPAIGN_NBR                     100
REPORTING_COST                     0
TOTALCOST                          6
LBRCOST                            0
ENGINE                             0
ENGINE_DESC                        0
TRANSMISSION                       0
TRANSMISSION_DESC                  0
ENGINE_SOURCE_PLANT               12
ENGINE_TRACE_NBR                  12
TRANSMISSION_SOURCE_PLANT         12
TRANSMISSION_TRACE_NBR            12
SRC_TXN_ID                         0
SRC_VER_NBR                        0
TRANSACTION_CNTR                   0
MEDIA_FLAG                         0
VIN_MODL_DESGTR                    0
LINE_SERIES                        1
LAST_KNOWN_DELVRY_TYPE_CD          2
NON_CAUSAL_PART_QTY                0
SALES_REGION_CODE                  0
dtype: int64

Fill Missing Values

In [ ]:
data['CAMPAIGN_NBR'].fillna(data['LAST_KNOWN_DELVRY_TYPE_CD'].mean(), inplace=True)

<ipython-input-9-63ad96e22106>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['CAMPAIGN_NBR'].fillna(data['LAST_KNOWN_DELVRY_TYPE_CD'].mean(), inplace=True)

In [ ]:
# drop rows with missing values

data.dropna(inplace=True)

In [ ]:
# drp columns with to many missing values
data.dropna(axis=1, thresh=int(0.8 * len(data)), inplace=True)  # Keeps columns with <20% missing

Handle Duplicates

In [ ]:
# Check for duplicates
print(data.duplicated().sum())

# Remove duplicates
data.drop_duplicates(inplace=True)

0

Address Inconsistancies in categorical data

In [ ]:
data['CORRECTION _VERBATIM'] = data['CORRECTION_VERBATIM'].str.upper()  # Convert to lowercase

In [ ]:
# strip whitespaces
data['DEALER_NAME'] = data['DEALER_NAME'].str.strip()

Convert Data types

In [ ]:
# Convert columns to numeric
data['KM']= pd.to_numeric(data['KM'], errors='coerce')
data['REPORTING_COST']= pd.to_numeric(data['REPORTING_COST'], errors='coerce')
data['TOTALCOST']= pd.to_numeric(data['TOTALCOST'], errors='coerce')

# Convert dates
data['REPAIR_DATE'] = pd.to_datetime(data['REPAIR_DATE'], errors='coerce')

Save cleaned data

In [ ]:
# Save to a new CSV or Excel file
data.to_csv("cleaned_dataset.csv", index=False)

Summary of cleaned data

In [ ]:
print(data.info())  # Overview of data types and missing values
print(data.describe())  # Summary statistics for numerical columns

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 99
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   VIN                            62 non-null     object
 1   TRANSACTION_ID                 62 non-null     int64
 2   CORRECTION_VERBATIM            62 non-null     object
 3   CUSTOMER_VERBATIM              62 non-null     object
 4   REPAIR_DATE                    62 non-null     datetime64[ns]
 5   CAUSAL_PART_NM                 62 non-null     object
 6   GLOBAL_LABOR_CODE_DESCRIPTION  62 non-null     object
 7   PLATFORM                       62 non-null     object
 8   BODY_STYLE                     62 non-null     object
 9   VPPC                           62 non-null     object
 10  PLANT                          62 non-null     object
 11  BUILD_COUNTRY                  62 non-null     object
 12  LAST_KNOWN_DLR_NAME            62 non-null     object
 13  LAST_KNOWN_DLR_CITY            62 non-null     object
 14  REPAIRING_DEALER_CODE          62 non-null     object
 15  DEALER_NAME                    62 non-null     object
 16  REPAIR_DLR_CITY                62 non-null     object
 17  STATE                          62 non-null     object
 18  DEALER_REGION                  62 non-null     int64
 19  REPAIR_DLR_POSTAL_CD           62 non-null     object
 20  REPAIR_AGE                     62 non-null     int64
 21  KM                             62 non-null     int64
 22  COMPLAINT_CD_CSI               62 non-null     int64
 23  COMPLAINT_CD                   62 non-null     object
 24  VEH_TEST_GRP                   62 non-null     object
 25  COUNTRY_SALE_ISO               62 non-null     object
 26  ORD_SELLING_SRC_CD             62 non-null     int64
 27  OPTN_FAMLY_CERTIFICATION       62 non-null     object
 28  OPTF_FAMLY_EMISSIOF_SYSTEM     62 non-null     object
 29  GLOBAL_LABOR_CODE              62 non-null     int64
 30  TRANSACTION_CATEGORY           62 non-null     object
 31  CAMPAIGN_NBR                   62 non-null     float64
 32  REPORTING_COST                 62 non-null     float64
 33  TOTALCOST                      62 non-null     float64
 34  LBRCOST                        62 non-null     float64
 35  ENGINE                         62 non-null     object
 36  ENGINE_DESC                    62 non-null     object
 37  TRANSMISSION                   62 non-null     object
 38  TRANSMISSION_DESC              62 non-null     object
 39  ENGINE_SOURCE_PLANT            62 non-null     object
 40  ENGINE_TRACE_NBR               62 non-null     object
 41  TRANSMISSION_SOURCE_PLANT      62 non-null     float64
 42  TRANSMISSION_TRACE_NBR         62 non-null     object
 43  SRC_TXN_ID                     62 non-null     int64
 44  SRC_VER_NBR                    62 non-null     int64
 45  TRANSACTION_CNTR               62 non-null     int64
 46  MEDIA_FLAG                     62 non-null     object
 47  VIN_MODL_DESGTR                62 non-null     object
 48  LINE_SERIES                    62 non-null     object
 49  LAST_KNOWN_DELVRY_TYPE_CD      62 non-null     float64
 50  NON_CAUSAL_PART_QTY            62 non-null     int64
 51  SALES_REGION_CODE              62 non-null     int64
 52  CORRECTION _VERBATIM           62 non-null     object
dtypes: datetime64[ns](1), float64(6), int64(12), object(34)
memory usage: 26.2+ KB
None
       TRANSACTION_ID                    REPAIR_DATE  DEALER_REGION  \
count       62.000000                             62           62.0
mean     13037.080645  2024-01-22 05:48:23.225806336            1.0
min      13021.000000            2024-01-02 00:00:00            1.0
25%      13029.000000            2024-01-12 00:00:00            1.0
50%      13036.500000            2024-01-24 00:00:00            1.0
75%      13040.000000            2024-01-31 00:00:00            1.0
max      13074.000000            2024-02-07 00:00:00            1.0
std         11.894755                            NaN            0.0

       REPAIR_AGE            KM  COMPLAINT_CD_CSI  ORD_SELLING_SRC_CD  \
count   62.000000     62.000000              62.0           62.000000
mean    15.870968  25358.709677               0.0           26.419355
min      0.000000      3.000000               0.0           11.000000
25%      3.250000   6897.000000               0.0           13.000000
50%     12.500000  18758.500000               0.0           13.000000
75%     23.000000  38140.750000               0.0           48.000000
max     50.000000  80805.000000               0.0           48.000000
std     14.027472  21567.035228               0.0           17.300193

       GLOBAL_LABOR_CODE  CAMPAIGN_NBR  REPORTING_COST    TOTALCOST  \
count          62.000000  6.200000e+01       62.000000    62.000000
mean          149.677419  1.413265e+01      508.021129   537.621129
min            20.000000  1.413265e+01       63.100000    63.100000
25%           130.000000  1.413265e+01      320.105000   366.527500
50%           130.000000  1.413265e+01      444.945000   457.480000
75%           130.000000  1.413265e+01      559.687500   618.007500
max          2400.000000  1.413265e+01     1488.940000  1488.940000
std           292.608213  5.372574e-15      306.033154   321.915816

          LBRCOST  TRANSMISSION_SOURCE_PLANT    SRC_TXN_ID  SRC_VER_NBR  \
count   62.000000               6.200000e+01  6.200000e+01    62.000000
mean    95.781129               1.295375e+08  2.816022e+09     6.258065
min     50.270000               2.878270e+05  2.808842e+09     2.000000
25%     62.145000               2.878270e+05  2.809494e+09     4.000000
50%     74.595000               8.042172e+06  2.820193e+09     4.000000
75%     91.760000               1.774929e+07  2.820788e+09     6.000000
max    500.070000               8.282984e+08  2.823000e+09    26.000000
std     68.548272               2.900438e+08  5.673099e+06     4.601979

       TRANSACTION_CNTR  LAST_KNOWN_DELVRY_TYPE_CD  NON_CAUSAL_PART_QTY  \
count              62.0                   62.00000            62.000000
mean                1.0                   14.50000             0.080645
min                 1.0                   10.00000             0.000000
25%                 1.0                   10.00000             0.000000
50%                 1.0                   10.00000             0.000000
75%                 1.0                   16.00000             0.000000
max                 1.0                   37.00000             1.000000
std                 0.0                    7.41454             0.274512

       SALES_REGION_CODE
count               62.0
mean                 1.0
min                  1.0
25%                  1.0
50%                  1.0
75%                  1.0
max                  1.0
std                  0.0